.container {
  background-image: url("../assets/fundo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.title {
  padding-left: 100px;
}

.title h1 {
  color: white;
}

.title p {
  padding-top: 10px;
  color: gray;
}

.upperContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

.agendamentosContainer {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-top: 50px;
  gap: 20px;
}

.agendamentosCard {
  background: var(--color-bg);
  width: 1000px;
  height: 200px;
  border: 1px solid var(--color-card);
  border-radius: 5px;
}
.dataCard {
  display: flex;
  padding-left: 50px;
  gap: 10px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: 320px;
  height: 140px;
  margin-top: 27px;
  gap: 10px;
  padding-left: 60px;
  border-right: 1px solid var(--color-card);
}

.infoRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.infoRow span {
  color: white;
  font-size: 18px;
}

.dateContainer {
  border: 1px solid var(--color-card);
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 27px;
  gap: 5px;
  padding: 30px;
  flex-direction: column;
}

.month {
  color: var(--color-gold);
  font-size: 12px;
}

.day {
  font-size: 28px;
}

.weekDay {
  font-size: 12px;
}

.dataContainer {
  display: flex;
  justify-content: space-between;
}

.dataCard p,
span {
  color: white;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-top: 20px;
  gap: 40px;
}

.status select {
  background: transparent;
  border: 1px solid var(--color-gold);
  color: white;
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
  margin-right: -10px;
}

.status option {
  background: var(--color-card);
  border: 1px solid var(--color-bg);
  border-radius: 5px;
}

.status p {
  color: var(--color-gold);
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.btn {
  width: 100px;
  height: 40px;
  border: 1px solid red;
  border-radius: 5px;
  background: transparent;
  color: red;
  font-size: 14px;
  cursor: pointer;
  transition: ease 0.3s;
}

.btn:hover {
  background: red;
  color: #111111;
}

.centerContainer {
  margin-top: 60px;
  width: 200px;
}

.centerContainer h4 {
  display: flex;
  color: white;
}

.centerContainer p {
  color: gray;
  font-size: 12px;
  margin-top: 5px;
}
