.container {
  background-image: url("../assets/fundo.png");
  height: 100dvh;
}

.title {
  color: white;
}

.card {
  display: flex;
  justify-content: center;
}
.calendarContainer {
  width: 1100px;
  height: 600px;
  background: #111111;
  border: 1px solid var(--color-card);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}
.daysCard {
  display: flex;
  margin-left: 50px;
}
.hoursCard {
  margin-left: 50px;
}

.hoursCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.hoursCard button {
  width: 120px;
  height: 50px;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--color-card);
  font-size: 14px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.btnSkip {
  margin-top: 60px;
  width: 550px;
  height: 50px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--color-card);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.calendar {
  border-radius: 20px;
  overflow: hidden;
  margin-top: -30px;
}

.title {
  padding: 25px;
}

:global(.react-calendar) {
  width: 500px;
  height: 310px;
  background: #111;
  border: none;
  color: white;
  padding: 20px;
}

:global(.react-calendar__navigation) {
  margin-bottom: 25px;
}

:global(.react-calendar__navigation button) {
  background: transparent;
  color: #c89b3c;
  border: none;
  font-size: 14px;
}

:global(.react-calendar__navigation__label) {
  color: #c89b3c;
  font-weight: bold;
  text-transform: uppercase;
}

:global(.react-calendar__month-view__weekdays) {
  color: #777;
}

:global(.react-calendar__title) {
  color: white;
  background: transparent;
  border-radius: 50%;
  width: 42px;
  height: 42px;
}

:global(.react-calendar__title:hover) {
  background: #2c2c2c;
}

:global(.react-calendar__tile--active) {
  background: #c89b3c !important;
  color: white !important;
}

:global(.react-calendar__tile--now) {
  border: 1px solid #c89b3c;
  background: transparent;
}

:global(.react-calendar__month-view__days__days--neighborMonth) {
  color: #555;
}

.selectedHour {
  background: #c89b3c;
  color: black !important;
}

.serviceContainer {
  width: 700px;
  height: 700px;
  background: #111111;
  border: 1px solid var(--color-card);
  border-radius: 10px;
  margin-top: 18%;
}

.btnCard {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 20px;
  padding: 30px;
  margin-left: 32px;
  margin-top: -35px;
}

.serviceCard {
  height: 250px;
  width: 250px;
  border: 1px solid var(--color-card);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  cursor: pointer;
  transition: 0.3s;
}

.serviceCard h3,
span {
  color: var(--color-gold);
}

.serviceCard:hover {
  border-color: #c89b3c;
}

.serviceCard:hover {
  border-color: #c89b3c;
}

.selectedService {
  border: 2px solid #c89b3c;
  background: rgba(200, 155, 60, 08);
}

.btnSkipEtapa2 {
  display: flex;
  margin-top: -10px;
  justify-content: center;
  gap: 10px;
}

.btnSkipEtapa2 button {
  width: 300px;
  padding: 14px;
  border: 1px solid var(--color-card);
  background: transparent;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.etapa3Container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.etapa3Card {
  width: 700px;
  height: 200px;
  background: #111111;
  border: 1px solid var(--color-card);
  border-radius: 10px;
}

.subTitleCard {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.etapa3Card p {
  color: var(--color-gold);
  font-size: 18px;
}

.btnEtapa3 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 15px;
}

.btnEtapa3 button {
  width: 300px;
  padding: 14px;
  border: 1px solid var(--color-card);
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
